/*
*= require tailwind/tailwind.css
*= require tailwind/tailwind-ext.css
*= require slideout.css
*= require popper.css
*= require_self
*/

html {
    font-size: 16px;
}
body {
    background: #F3F3F3;
    font-weight: 400;
    color: #333;
}

div.card-link {
    position: relative;
}

div.card-link:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
}

*, ::after, ::before {
    border: solid 0px;
}

.d-none {
    display: none;
}

.drawer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50000;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s;
    margin-left: 100%;
    background: rgba(255, 255, 255, 0.5);
}


.drawer.draweropen .card-body {
    white-space: normal;
}

.selectable-row.selected {
    background-color: #eee;
}

code {
    font-weight: bold;
}